doctype 5
html
head
meta http-equiv="Content-Type" content="text/html" charset=UTF-8
title 
link(type="text/css", rel="stylesheet", href="/stylesheets/cstyle.css")
script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.2.min.js")
script(type="text/javascript", src="/javascripts/main.js")
script(type="text/javascript", src="/javascripts/money.js")
head
body

div(id="currency")
  label Amount To Convert:
  input(type="text", value pattern="^[0-9]{1,7}$", placeholder="Amount", id="amount")
  &nbsp
  label From:
  select(id="currFrom")
  &nbsp
  label To:
  select(id="currTo") 
  &nbsp
  label Result: 
  span(id="convResult")

div(id="country")
  label View a Country 
  select(id="c_list")
  &nbsp
  span(id='geo') Geognos
  &nbsp
  span(id='gov') Travel.Gov
  br
  iframe(id="cframe", src="")

div(id="frame")
  iframe(src="http://travel.state.gov/travel", id="frame")