body#error {
    background-image: url('http://retardzone.com/rz4/images/404.jpg');
    background-size: 100%;
    text-align: center;
    text-size: 36px;
}

div#cover {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background: gray;
    opacity: 0.8;
}

div#login {
    left: 30%;
    top: 0px;
    width: 600px;
    height: 515px;
    position: absolute;
    z-index: 99;
    background: lightblue;
    font-weight: bold;
}

div#currency {

}

div#country {

}

span#geo:hover {
    background-color: lightgreen;
}

span+span:hover {
    background-color: lightblue;
}

span#convResult {
    background-color: lightgray;
}

iframe#gov_frame {
   width: 1000px;
   height: 600px;
   float: right;
}

iframe#geo_frame {
    width: 1000px;
    height: 600px;
    float: right;
}

iframe#cframe {
    width: 300px;
    height: 600px;
    float: left;
}

select#c_list {
    float: top left;
}

form {
    text-align: center;
}

input#logout {
    float: right;
}