body#error {
    background-image: url('http://retardzone.com/rz4/images/404.jpg');
    background-size: 100%;
    text-align: center;
    text-size: 36px;
}

div#currency {

}

div#country {

}

span#geo:hover {
    background-color: lightgreen;
}

span+span:hover {
    background-color: lightblue;
}

span#convResult {
    background-color: lightgray;
}

iframe#frame {
   width: 1000px;
   height: 600px;
   float: right;
}

iframe#cframe {
    width: 300px;
    height: 600px;
    float: left;
}

select#c_list {
    float: top left;
}